body {
    font-family: sans-serif;
    margin: 2em;
}
h1 {
    margin: 0px;
}
p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}     /* unvisited link */
a:visited {color:#0000FF;}
.description {
    font-size: 16px;
}
.status {
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.final {
    margin-left: 41px;
}